<!doctype html>
<html lang="en" ng-app="decisiontrees">
<head>
  <meta charset="utf-8">
  <title>Decision Trees</title>
  <link rel="stylesheet" href="static/css/app.css">
  <link rel="stylesheet" href="static/css/bootstrap.css">
  <script src="static/lib/angular/angular.js"></script>
  <script src="static/lib/angular/angular-resource.js"></script>
  <script src="static/js/app.js"></script>
  <script src="static/js/controllers.js"></script>
  <script src="static/js/filters.js"></script>
  <script src="static/js/directives.js"></script>
  <script src="static/lib/d3/d3.v3.js" charset="utf-8"></script>
</head>
<body>
  <div ng-view></div>
</body>
</html>
