Flask==0.10.1
Flask-PyMongo==0.3.0
Flask-RESTful==0.2.5
Flask-Script==0.6.2
Jinja2==2.7.1
MarkupSafe==0.18
Werkzeug==0.9.4
itsdangerous==0.23
protobuf==2.5.0
protobuf-to-dict==0.0.5
pymongo==2.6.2
wsgiref==0.1.2
